name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 2 * * *'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker image
      run: docker build -t wenzzzel/sonarr-in-a-jar:latest .

    - name: Push Docker image
      run: docker push wenzzzel/sonarr-in-a-jar:latest
